{% extends 'base.html' %}
{% load static %}

{% block title %}Blogs - ManishBhusal{% endblock title %}

{% block content %}
{% include 'navbar.html' %}

<!-- Blog and Articles Start -->

<div class="blog_and_articles d-flex align-items-center" style="height:100%; margin-top:6rem;">
  <div class="container d-flex flex-column align-items-center pt-5 mt-2">
    {% comment %} <h2>My Blogs</h2> {% endcomment %}
    <h1 class="main_letter">Blog & Articles</h1>
    <div class="row mt-5 p-1">
      {% for blog in blog_lists %}
      <div class="col-md-4">
        <div class="card p-2 mx-2 my-3">
          <img src="{{ blog.image.url }}" class="img-fluid" alt="">
          <div class="card-body">
            <div class="d-flex justify-content-between my-2">
              <span>By {{ blog.author }}</span>
              <span>{{ blog.created_at|date:"M d, Y" }}</span>
            </div>
            <h1 class="blog_and_project_title">{{ blog.title }}</h1>
            <p class="card-text">{{ blog.description|safe|truncatewords:15 }}</p>
            <div class="d-flex justify-content-between">
              <a href="{% url 'detailed_blog' blog.slug %}" class="read_more">Read More</a>
              {% if user == blog.user or perms.portfolio.change_blog %}
              {% if user == blog.user or perms.portfolio.delete_blog %}
              <!-- User can change and delete blogs -->
              <span>
                <a href="{% url 'update_blog' blog.slug %}" class="btn btn-success">Update</a>
                <a href="{% url 'delete_blog' blog.slug %}" class="btn btn-danger">Delete</a>
              </span>
              {% else %}
              <!-- User can only change blogs -->
              <span>
                <a href="{% url 'update_blog' blog.slug %}" class="btn btn-success">Updatee</a>
              </span>
              {% endif %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Blog and Articles End -->

<hr>

<!--Footer Start-->
{% include 'footer.html' %}

<!--Footer Start-->


{% endblock content %}