{% extends 'base.html' %}
{% load static %}

{% block title %}Home - ManishBhusal{% endblock title %}

{% block content %}
<!-- Landing Page Start -->
<div class="landing_page">
  {% include 'navbar.html' %}

  <div class="container-fluid mt-4">
    <div class="row" style="margin-top: -50px;">
      <div class="col-3 d-flex flex-column justify-content-center align-items-center" style="margin-left:-5rem;">
        <a href="https://github.com/manish-bhusal" target="_blank"><span><i
              class="social_icons fa-brands fa-github fa-2xl"></i></span></a>
        <a href="https://www.linkedin.com/in/manish-bhusal-9074891b8/" target="_blank"><span><i
              class="social_icons fa-brands fa-linkedin-in fa-2xl"></i></span></a>
        <a href="https://www.facebook.com/manishbhusal65" target="_blank"><span><i
              class="social_icons fa-brands fa-facebook fa-2xl"></i></span></a>
      </div>
      <div class="col-4 d-flex flex-column align-items-start justify-content-center">
        <h3>Hello, I Am</h3>
        <h1 class="fw-bold manish">Manish Bhusal</h1>
        <p class="fs-5">I'm a versatile web developer with experience in
          HTML, CSS, JavaScript, Bootstrap, and Python's
          Django framework. I have a knack for creating
          attractive and user-friendly websites.</p>
        <div class="d-flex align-items-center">
          <a href="{% url 'blogs_page' %}" class="button btn">Hire Me</a>
          <a href="{% url 'portfolio' %}" class="see_my_work ms-3">See My Work</a>
        </div>
      </div>
      <div class="col-5 d-flex justify-content-center align-items-center">
        <img src="{% static 'img/manish.png' %}" class="img-fluid" alt="Manish Image"
          style="margin-left: -15rem; margin-top:8rem;">
      </div>
    </div>
  </div>
</div>
<!-- Landing Page End -->

<hr class="mt-5">

<!-- Portfolio Starts -->

<div class="portfolio">
  <div class="container d-flex align-items-center flex-column pt-5 mt-2" style="height:100%;">
    <h2>Creative Works</h2>
    <h1 class="main_letter">Check My Portfolio</h1>


    <div class="row mt-5 p-1">
      {% for portfolio in portfolio_lists %}
      <div class="col-md-4">
        <div class="card p-3 mx-2 my-3">
          <img src="{{ portfolio.image.url }}" class="img-fluid" alt="">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="">
              <h1 class="blog_and_project_title">{{ portfolio.title }}</h1>
              <span class="fs-sm text-secondary">({{ portfolio.created_at|date:"Y-m-d" }})</span>
              <p class="card-text">{{ portfolio.description }}</p>
            </div>
            <a href="{{ portfolio.url }}" target="_blank"><i
                class="icons_portfolio fa-sharp fa-solid fa-arrow-right p-1"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a href="{% url 'portfolio' %}"" class=" btn button mt-5" style="width:14rem;">See More Projects</a>
  </div>
</div>
<!-- Portfolio Starts -->

<hr>

<!-- Blog and Articles Start -->

<div class="blog_and_articles" style="height:100%;%">
  <div class="container d-flex flex-column align-items-center pt-5 mt-2">
    <h2 style="color:#6f34fe">Popular Blogs</h2>
    <h1 class="main_letter">Blog & Articles</h1>
    <div class="row mt-5 p-1">
      {% for blog in blog_lists %}
      <div class="col-md-4">
        <div class="card p-2 mx-2 my-3">
          <img src="{{ blog.image.url }}" class="img-fluid" alt="">
          <div class="card-body">
            <div class="d-flex justify-content-between my-2">
              <span class="fs-sm text-secondary">By {{ blog.author }}</span>
              <span class="fs-sm text-secondary">{{ blog.created_at|date:"M d, Y" }}</span>
            </div>
            <h1 class="blog_and_project_title">{{ blog.title }}</h1>
            <p class="card-text">{{ blog.description|safe|truncatewords:15 }}</p>
            <a href="{% url 'detailed_blog' blog.slug %}" class="read_more">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <a href="{% url 'blogs_page' %}"" class=" btn button mt-5" style="width:14rem;">See More Blogs</a>
  </div>
</div>
<br>


<!-- Blog and Articles End -->

<hr>

<!--Footer Start-->
{% include 'footer.html' %}

<!--Footer Start-->




{% endblock content %}