@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lato&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Josefin Sans", sans-serif;
  /* font-weight: 400; */
}

.nav-link:hover {
  color: #ffc107;
}

.navbar-white {
  background-color: #ffffff;
  height: 7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.button {
  background-color: #ffc107;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  width: 9rem;
  border-radius: 30px;
}

.button:hover {
  background-color: #6f34fe;
  color: white;
}

.landing_page {
  height: 95%;
  background-color: #ecf8ff;
}

.manish {
  color: #6f34fe;
  font-size: 4rem;
}

.social_icons {
  /* font-size: 2rem !important; */
  color: black;
  margin-top: 2rem;
}

.social_icons:hover {
  color: #6f34fe;
}

.portfolio {
  height: 90vh;
  background-color: #fffcfc;
  /* margin-top: 5rem; */
}

.see_my_work {
  font-size: 1.5rem;
}

.see_my_work:hover {
  color: #ffc107;
}

.main_letter {
  font-size: 3.5rem;
  font-weight: bolder;
}

.icons_portfolio {
  font-size: 2.5rem !important;
  /* padding: 2.8rem; */
  color: white;
  background-color: #6f34fe;
  border-radius: 80px;
}

img {
  border-radius: 25px !important;
}

.card {
  border-radius: 2.3rem;
}

.blog_and_articles {
  height: 95vh;
  /* background-color: #F2F2FF; */
}

.blog_and_project_title {
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 0;
}

.read_more {
  color: #6f34fe;
}

.read_more:hover {
  color: #ffc107;
}

.footer {
  /* background-color: #ecf8ff; */
  padding: 2rem;
  /* margin-top: 3rem; */
}

.footer_social_icons a {
  font-size: 1rem !important;
  margin-left: 0.7rem;
  color: black;
}

.footer_social_icons a:hover {
  color: #6f34fe;
}

.about_p {
  width: 60rem;
}

.blogs_section {
  height: 100%;
  margin-top: 6rem;
}
